extends layout

block content
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') color
                th(scope='col') modelo
                th(scope='col') ubicacion
            tbody
                each bici in bicis
                    tr
                        th(scope='row')
                            = bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
